extends layout

block content
	img(width='85%', src='images/building.png')
	hr
	
	p Party Headquarters is located inside a single-car residential garage in Southern Philadelphia. Therefore, we are not equipped with heating, air-conditioning, or running water. The on-premise toilet may be used for number 1's but not number 2's, as they will not flush.

	p Amenites include a fully-functioning refrigerator stocked with Beck's Premium Lager and Poland Spring bottled water, and American Spirit Organic cigarettes upon request. Party Headquarters is a smoker-friendly environment and is 420-friendly.

