extends layout

block content
	.well
		
		h5 Microphones
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/pretzelstick.jpeg')
			div.gear-desc
				p The workhorse vocal mic at Party Headquarters is the Hertz Pretzel Stick. Most studios these days are using much more costly equipment for their vocal microphones, but at the HQ we value cost-effective solutions so that we can pass the savings on to you, our valued customer. 

				p These guys produce a distinct stale, crispy, crackly, distorted sound not unlike a PS3 "shit-talker" headset used with online multiplayer games, except with vastly lower clarity and fidelity.
		hr

		h5 Tech
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/comp.jpg')
			div.gear-desc
				p We strive to maintain cutting-edge digital technology for our recording process, however with limited funds and knowledge, we are currently rocking a circa-2000 desktop PC (brand unknown).

				p We are running a pirated copy of Cubase on top of pirated Windows XP. 
		hr 

		h5 Monitors
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/monitors.jpg')
			div.gear-desc
				p In our continuing effort to reduce costs as far as humanly possible, our recording suite is equipped with a set of YS 200 Multimedia out-of-the-box desktop computer speakers. Their cold, harsh sound is made up for by the keen imagination of our mixing engineer.

