extends layout

block content
	.well
		h5 Microphones
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/pretzelstick.jpeg')
			div.gear-desc
				p The workhorse vocal mic at Party Headquarters is the Hertz Pretzel Stick. Most studios these days are using much more costly equipment for their vocal microphones, but at the HQ we value cost-effective solutions so that we can pass the savings on to you, our valued customer. 

				p These guys produce a distinct stale, crispy, crackly, distorted sound not unlike a PS3 "shit-talker" headset used with online multiplayer games, except with vastly lower clarity and fidelity.
		hr
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/mic1.jpg')
			div.gear-desc
				p This is a stand-up mic. The top has been removed to gain clearer access to the gold part that you sing into.
		hr

		div.gear
			div.gear-pic
				img(class='gear-img', src='images/mic2.jpg')
			div.gear-desc
				p This is another mic which we have found to be suitable for recording voices, instruments or other sounds. 

				p It is comparable to many of the venerable mics heard on such classic albums as Aretha Franklin's Greatest Hits, as well as those of today.
		hr

		h5 Tech
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/nervecenterscreen.jpg')
			div.gear-desc
				p We strive to maintain cutting-edge digital technology for our recording process, however with limited funds and knowledge, we are currently rocking a circa-2000 desktop PC (brand unknown).

				
		hr 

		h5 Monitors
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/monitors.jpg')
			div.gear-desc
				p In our continuing effort to reduce costs as far as humanly possible, our recording suite is equipped with a set of YS 200 Multimedia out-of-the-box desktop computer speakers. Their cold, harsh sound is made up for by the keen imagination of our mixing engineer.

		hr 

		h5 Amplification
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/crownamps.jpg')
			div.gear-desc
				p We currenly own a pair of Crown D-150A amplifiers at Party Headquarters. While they are not yet hooked up to anything at the time of writing, we look forward to their sick, dope sound in the near future.

		hr 
		h5 Effects
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/echo.jpg')
			div.gear-desc
				p Party Headquarters offers several echo options.

		hr
		h5 Instruments
		div.gear
			div.gear-pic
				img(class='gear-img', src='images/cello.jpg')
			div.gear-desc
				p Cello.

		div.gear
			div.gear-pic
				img(class='gear-img', src='images/guitars2.jpg')

		div.gear
			div.gear-pic
				img(class='gear-img', src='images/guitars1.jpg')
			div.gear-desc
				p 

